# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Intellisense files
*.sdf
*.opensdf

# Debug builds
Debug/*
*/Debug/*
*/Debug
*/Release/*
/Debug